IDENTITY_POSTGRES_USER=changeme
IDENTITY_POSTGRES_PW=changeme
IDENTITY_POSTGRES_DB=changeme

CATALOG_MONGO_ADMIN_USER=changeme
CATALOG_MONGO_ADMIN_PW=changeme
CATALOG_MONGO_USER=changeme
CATALOG_MONGO_PW=changeme
CATALOG_MONGO_DB=changeme

ORDER_POSTGRES_USER=changeme
ORDER_POSTGRES_PW=changeme
ORDER_POSTGRES_DB=changeme

INVENTORY_POSTGRES_USER=changeme
INVENTORY_POSTGRES_PW=changeme
INVENTORY_POSTGRES_DB=changeme

REDIS_PW=changeme
RABBITMQ_USER=changeme
RABBITMQ_PASS=changeme